<hr>
<div class="row" *ngIf="heroes.length == 0">
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
            No existen resultados con el termino:{{heroes[0].nombre}}
        </div>

    </div>


</div>


<div class="row">
    <div class="col-md-4">
        <img class="card-img-top img-fluid" alt="Card image cap" src="{{heroes[0].img}}">
        <br>
        <br>
        <button type="button" class="btn btn-outline-primary btn-block" (click)="Regresar()">Regresar</button>
    </div>

    <div class=" animated fadeIn fast col-md-8">

        <div class="card-block">
            <h4 class="card-title">{{heroes[0].nombre}}</h4>
            <p class="card-text">{{heroes[0].bio}}.</p>


            <img *ngIf="heroes[0].casa == 'DC' " class="img-logo" alt="Card image cap" src="assets/images/dc-logo.jpg">
            <img *ngIf="heroes[0].casa == 'Marvel' " class="img-logo" alt="Card image cap" src="assets/images/marvel-logo.png">

        </div>
    </div>



</div>