<h1>{{heroe.nombre | uppercase}} <small>({{heroe.aparicion | date:'y'}})</small></h1>
<hr>

<div class="row">
    <div class="col-md-4">
        <img class="card-img-top img-fluid" alt="Card image cap" src="{{heroe.img}}">
        <br>
        <br>
        <button type="button" class="btn btn-outline-primary btn-block" (click)="Regresar()">Regresar</button>
    </div>

    <div class=" animated fadeIn fast col-md-8">

        <div class="card-block">
            <h4 class="card-title">{{heroe.nombre}}</h4>
            <p class="card-text">{{heroe.bio}}.</p>


            <img *ngIf="heroe.casa == 'DC' " class="img-logo" alt="Card image cap" src="../../../assets/img/dc-logo.jpg">
            <img *ngIf="heroe.casa == 'Marvel' " class="img-logo" alt="Card image cap" src="../../../assets/img/marvel-logo.png">

        </div>
    </div>



</div>